<body id="page-top" class="index">
	{{>navigation}}
	<header>

		<div class="container">
			<h1>About Padscoper</h1>

			<p class="lead">This app was created by <a href="mailto:zackproser@gmail.com"><i class="fa fa-envelope"></i> Zack Proser</a> in two days.</p>

			<p class="lead">PadScoper is an Express App complete with unit tests, a search UI, and string address geocoding courtesy of Google's Maps API Geocoder.</p>

			<p class="lead">For more information, please view the project's README file or consult the various modules which are thoroughly documented.</p>

			<p class="lead">I really enjoyed working on this app. You can view more of my work on <a href="https://www.zackproser.com"><i class="fa fa-external-link"></i> my portfolio site.</a></p>
		</div>

	</header>
</body>